body{
   
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
}
   
header {
    background-color: rgb(134, 126, 126);
    display: flex;
    align-items: center;
    justify-content:space-around;
}
     .titulo {
        display: flex;
        gap: 1em;
        align-items: center;
     padding: 10px;
     color: white;
     font-size: 25px;
     }
     header nav ul {
     display: flex;
     gap: 5em;
     font-size: 20px;
     
     }
     header nav ul li a:hover{
        color: red;
     }

    header nav ul li a{
    color: white;
     }

main { 
        background-color: rgb(193, 196, 199);
}

    .presentacionp {
        background-image: url('img/fondoprincipal4.JPG'); /* Ruta de la imagen de fondo */
        background-size: cover; /* Ajusta el tamaño de la imagen al contenedor */
        background-position: center; /* Centra la imagen en el contenedor */
        width: 100%; /* Ancho del contenedor */
        height: 600px; /* Altura del contenedor */
        color: white; /* Color de texto */
        text-align: center; /* Alineación de texto al centro */
        padding-top: 10px; /* Espaciado superior para centrar verticalmente el texto */
        display: flex;
        flex-direction: column;
        align-items: center;
       justify-content: center;
    }
       
   /* .videocontenedor {
        width: 50%;
        position: relative;
        margin-left: auto;
        margin-right: auto;

    }
    .videocontenedor ::after {
        content: "";
        display: block;
        width: 100%;
    }
    .videocontenedor video {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;

    }*/
     .descripcion1 {
            margin-top: 0px;
            padding: 20px 50px 20px 50px;
            color: white;
            font-weight: bold;
            font-size: 20px;
        }

        .servicios {
            background-color: #ccc;
        }

             .servicios{
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
      }

          .cajap {
              display: flex;
              width: 50%;
              flex-wrap: wrap;
              gap: 20px;
          }

    .contenedorformulario {
        background-image: url('img/inteligencia.jpg'); /* Ruta de la imagen de fondo */
        background-size: cover; /* Ajusta el tamaño de la imagen al contenedor */
        background-position: center; /* Centra la imagen en el contenedor */
        width: 100%; /* Ancho del contenedor */
        height: 700px; /* Altura del contenedor */
        display: flex;
        flex-direction: wrap;
        align-items: center;
        justify-content: flex-end;
       
    }
    .contenedorformulario h2{
        color: white;
    }
    .formulario {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: none;
        padding: 20px 10px 20px 10px;
        margin: 1px 100px 1px 10px;
        font-size: 15px;
        width: 400px;
        height: 90%;
    }
    .formulario legend{
        font-size:20px ;
        font-weight: bold;
    }
    .formulario fieldset {
        border: none;
        margin: none;
        padding: none;
    }
    .formulario input::placeholder {
        font-size: 15px;
    }
    input[type="tel"],
    input[type="text"],
    input[type="email"],
    .imputpais {
      width: 90%; /* Ancho completo */
      padding: 10px; /* Espaciado interno */
      margin-bottom: 10px; /* Margen inferior */
      box-sizing: border-box; /* Incluir padding y border en el ancho */
      border-radius: 5px; /* Esquinas redondeadas */
    border: 1px solid #ccc; /* Borde */
    }
    .imagenformulario {
        width: 900px;
        height: 800px;
    }
    small {
        font-size: 10px;
    }
    .enviar {
        background-color: brown;
        height: 50px;
        width: 70%;
        color: white;
        border-radius: 5px; /* Esquinas redondeadas */
        border: 1px solid #ccc; /* Borde */
       
    }


ol,ul{list-style: none;}

a{
    text-decoration: none;
}


footer {
    margin: none;
    background-color: rgb(36, 33, 33);
    color: white;
}

      .contactenos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
      }
     .contactenos .oficinas {
    display: flex;
    justify-content: space-between;
    width: 80%;
    flex-wrap: wrap;
      }
     .oficinaoperativa, .oficinaandahuaylas, .oficinaprincipal  {
        display: flex;
    flex-direction: column;
  
     }


      .redessociales {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
     .redessociales .redes {
        display: flex;
        width: 50%;
        flex-wrap: wrap;
        gap: 20px;
    }
    .copyright {
        text-align: center;
        background-color:  rgb(134, 126, 126);
        padding: 20px;
        font-size: 13px;
               }

/* menu res´pnsivo*/
#check {
    display: none;
  }
.checkbtn {
    font-size: 25px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }


/* Estilos para pantallas más pequeñas (hasta 768px) */
@media (max-width: 768px) {
    /* Aquí puedes escribir los estilos que se aplicarán en pantallas más pequeñas */
    .checkbtn {
        display: block;
      }
      header {
        width: 100%;
        position: fixed;
        z-index: 9999;
      }
    header nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(59, 59, 99);
        text-align: center;
        
        top: 80px;
        left: 100%;
        transition: all 0.5s;
        }
        #check:checked  ~ ul {
            left: 0;
            display: block;
        
        }
        header nav ul li {
            display: block;
            margin: 50px 0;
            line-height: 30px;
        }
        header nav ul li a {
            font-size: 20px;
    }
    #check:checked ~.checkbtn {
        color: blue;
    }
    


      .presentacionp {
        text-align: center;
         display: flex;
        align-items: center;
       justify-content: center;
        width: 100%; /* Ancho del contenedor */
    }
    .videocontenedor {
        
        overflow: hidden;
        width: auto;
        height: auto;
        display: flex;
        align-items: center;
       justify-content: center;
    }
    .video {
        height: auto;
        width:10% ;
    }
    .descripcion1 {
        font-size: 10px;
    }
  
    .contenedorformulario {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        height: 50%;
    }

    .formulario {
        height: auto;
        width: 80%
    }


}

 




